<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물 업로드 화면</title>
    <link rel="stylesheet" href="{% static 'css/writing.css' %}">
    <style>
        /* Add this style to make the image preview larger */
        .upload-icon img {
            max-width: 100%; /* Adjust as needed */
            height: auto; /* Maintain aspect ratio */
            display: block;
            margin: 0 auto; /* Center the image */
        }
    </style>
</head>
<body>
    <!-- 게시물 업로드 화면 -->
    <div class="container">
        <div class="card">
            <h1>새 게시물 만들기</h1>
            <!-- 파일 업로드 영역 -->
            <div class="upload-section" id="upload-section">
                <div class="upload-icon">
                    <img id="image-preview" src="{% static 'pic/pic.png' %}" alt="Image Preview" style="display: none;">
                </div>

                <!-- 업로드 폼 -->
                <form action="{% url 'feedApp2:create' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="id_image">파일 선택해주세요:</label>
                    {{ form.image }}
                    <br>
                    <br>
                    {{ form.content }}
                    <button class="upload-final" type="submit">업로드</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        function previewImage(event) {
            const reader = new FileReader();
            reader.onload = function() {
                const previewElement = document.getElementById('image-preview');
                previewElement.src = reader.result;
                previewElement.style.display = 'block';
            };
            reader.readAsDataURL(event.target.files[0]);
        }

        document.addEventListener('DOMContentLoaded', function() {
            const imageField = document.querySelector('input[type="file"]');
            imageField.addEventListener('change', previewImage);
        });
    </script>
</body>
</html>
